name: Build VolkRustMaterialDumper

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore VolkRustMaterialDumper.sln

      - name: Build Solution (force v143 toolset)
        run: msbuild VolkRustMaterialDumper.sln /p:Configuration=Release /p:PlatformToolset=v143

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: VolkRustMaterialDumper-Build
          path: |
            Release/*.exe
            x64/Release/*.exe
